body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
#introContainer {
    width: 100%;
    height: 500px;
    background-color: #1F2937;
}

#introContainer .headers {
    display: flex;
    align-items: center;
    justify-content: center;
}

#introContainer #mainHeader {
    flex-grow: 1;
    font-size: 24px;
    color: white;
    margin-left: 60px;
}

#introContainer .headerLink {
    font-size: 12px;
    margin-right: 50px;
    color: white;
}

#introContainer #section1 {
    display: flex;
}

#section1 #text1 {
    width: 50%;
}
#text1 #text1Main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 60px;
}

#text1 #text1Desc {
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 60px;
}

#text1 #text1Btn {
    background-color: #3882F6;
    border-radius: 15%;
    color: white;
    width: 150px;
    height : 50px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 60px;
}

#section1 #placeholder {
    text-align: center;
    width: 500px;
    height: 200px;
    margin: 30px;
    color: white;
    background-color: gray;
}
#holderText {
    margin-top: 20%;
}

#infoSection {
    height: 500px;
}

#infoHeader {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#randomPics {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#randomPics div {
    width:100px;
    height:100px;
    border: 2px solid black;
}

#randomInfo {
    display: flex;
    justify-content: center;
    gap:50px;
}

#randomInfo label {
    max-width: 100px;
    margin-top: 30px;
}

#quoteSection {
    height: 500px;
    background-color: #E5E7EB;
    overflow: auto;
}

#quote {
    margin-top: 100px;
    margin-left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 30%;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
#quoteAuthor {
    margin-left: 55%;
    font-weight: bold;
}

#productDiv {
    height: 200px;
    border: 100px solid white;
    background-color: #3882F6;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 700px;
}

#ptext {
    color : white;
    font-size: 15px;
}
#ptext em {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

#ptextBtn {
    background-color: #3882F6;
    border: 2px solid;
    border-radius: 15%;
    border-color: white;
    color: white;
    width: 150px;
    height : 50px;
    font-weight: bold;
    font-size: 20px;
}

#footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    color:#E5E7EB;
}



